* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    scrollbar-width: none;
    background-color: white;
    overflow: hidden;
    height: 100%;
    touch-action: none;
}

canvas {
    user-select: none;
    border: 5px solid #000;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}